body{
    font-family: "Roboto";
    position: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}
.content {
    position: relative;
    display: grid;

    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

button{
    width: 15em;
    position: relative;
    height: 3.5rem;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
}
button:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}
button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

button:hover::before, button:hover::after {
    transform : scale(0)
}
button:hover{
    box-shadow: insert 0px 0px 25px #1479ea;
}